<h1> Random Cocktail Generator</h1>

<h2>{{name}}</h2>
<p>{{glass}}</p>

<div id="imgdiv2">
        <img id="cocktail-pic" src={{pic}} alt="cocktail-pic" height="400px" width="450px">
    </div>

<p>Ingredients:</p>
<ul>
    <li>{{ms1}} {{ing1}}</li>
    <li>{{ms2}} {{ing2}}</li>
    <li>{{ms3}} {{ing3}}</li>
</ul>

<p>Method:</p>
<p>{{method}}</p>


